* {
    font-family: 'Neuton', serif;
}

.navbar {
    border-radius: 0 !important;
}

#home {
    margin-top: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(images/work-history-min.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

.header h1 {
    margin-top: 35vh;
    font-family: 'Heebo', sans-serif;
    color: white;
    font-size: 5em;
    text-shadow: 2px 3px 4px black;
}

small {
    color: white !important;
}

.scroll {
    margin-top: 20.5vh;
    color: black;
    text-shadow: 2px 3px 4px grey;

}

.scroll h4 {
    font-size: 3em;
}

.scroll p {
    font-size: 2.5em;
}

.main-content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-content h2 {
    margin-bottom: 10px;
}

.main-content p {
    margin-bottom: 15px;
}

.main-content img {
    height: 250px !important;
    margin-bottom: 10px;
    display: table;
}

.social-icons i {
    font-size: 40px;
    display: inline-block;
    margin-top: 10px;
}

.fa-facebook-official {
    color: #3C5A99;
}

.fa-linkedin-square {
    color: #1B86BC;
}

.social-icons i:hover {
    color: darkred;
}

#breakPoint {
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
}

#skills {
    margin-top: 20px;
    margin bottom: 20px;
}

#skills i {
    margin-top: 5px;
    font-size: 50px;
}

#skills .express {
    width: 50px;
}

.footer {
    background-color: black;
}
